{:paths ["src", "resources"]
 :deps {org.clojure/clojure             {:mvn/version "1.10.3"}
        ring/ring                       {:mvn/version "1.9.4"}
        integrant/integrant             {:mvn/version "0.8.0"}
        com.xtdb/xtdb-core              {:mvn/version "1.20.0"}
        com.xtdb/xtdb-jdbc              {:mvn/version "1.20.0"}
        mysql/mysql-connector-java      {:mvn/version "8.0.23"}}}